<% include ./partials/header.ejs %>

<div class="row">
  <div class="col-md-12">Your most listened to artists this year<br>
	<input class="btn btn-default" type="submit" value="Year">
  </div>
</div>

<div class="row">
<div class="col-md-12">
	Your top artists by season
</div>
  <div class="col-md-3">
	<input class="btn btn-default" type="submit" value="Winter">
  </div>
  <div class="col-md-3">
	<input class="btn btn-default" type="submit" value="Spring">
  </div>
  <div class="col-md-3">
	<input class="btn btn-default" type="submit" value="Summer">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Winter">
  </div>
</div>

<div class="row">
Search for an artist below
  <form id="getRelatedArtists">
      <textarea name="relatedArtist" id="searchArtist" placeholder="Search artist name"></textarea>
      <input type="submit" value='submit'>
      </form>
</div>

<div class="row">
  <ul id="results">
  </ul>
</div>

<% include ./partials/footer.ejs %>